.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 2.5px
  /* display: none; */
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Border radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000; /* Color of the scrollbar thumb on hover */
}


.home {
  text-align: center;
  overflow: hidden;
  /* z-index: 10; */

}

body {
  cursor: none;
  overflow-x: hidden;
}
/* html {
  overflow: hidden;
  overscroll-behavior: none;
} */
h1 {
  /* background-color: #333; */
  /* color: #fff; */
  /* padding: 10px 0; */
  /* border-radius: 6px; */
}

/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: ;
  height: 25rem;
  margin: 1px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
} */

.products {
  column-count: 3;
  width: 100%;
}

.product {
  display: inline-block;
  width: 100%;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  border: 1px solid #d1d1d1;
  break-inside: avoid; /* Prevents breaking the component across columns */
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.product img { 
  width: 100%;
  height: 100%;
}

.product-details {
  padding: 0.5rem;
}

/* Optional: Clearfix for products */
.products::after {
  content: "";
  display: table;
  clear: both;
}


/* Optional: Clearfix for products */
.products::after {
  content: "";
  display: table;
  clear: both;
}

.product:hover {
  /* transform: translateY(-2px); */
  opacity: 0.9;
  /* cursor: pointer; */
}

.product-name {
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  padding: 5px 15px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  /* cursor: pointer; */
  transition: background-color 0.2s;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #0056b3;
}
@keyframes floating {
  0% {
      transform: translateY(0px) translateX(-50%); /* Combine the translateY and translateX */
  }
  50% {
      transform: translateY(-1px) translateX(-50%);
  }
  100% {
      transform: translateY(0px) translateX(-50%);
  }
}
.floating {
  animation: floating 3s ease-in-out infinite;
}

/* NAV BAR/DOCK */
.navbar {
  position: fixed;
  bottom: 2.5%;      /* Some distance from the bottom */
  cursor: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;      /* Adjust height for oval shape */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 10px; /* Half of height for an oval shape */
  width: auto;      /* Ensures it takes up only as much space as needed */
  left: 50%;        /* Centers it horizontally */
  transform: translateX(-50%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* horizontal, vertical, blur, shadow color */
  background: linear-gradient(to top, #f5f5f5, #ffffff);
  z-index: 9999;

}

.navbar svg {
  color: black;
  opacity: 1;
}
.dock {
  display: flex;
  gap: 15px; /* Spacing between icons */
  padding: 0 10px; /* Optional padding for the sides of the dock */
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: none;
  
}

.dock-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.active-dock-item::after {
  content: '';
  border-bottom: solid px;
  color: #f0f0f0;
  display: block;
  width: 70%; 
  height: 2px;
  background-color: currentColor;
  margin: 5px auto 0;
}


/* .dock-item:nth-child(1):hover {
  background-color: #f69851;

}

.dock-item:nth-child(2):hover {
  background-color: #9b63f5;

}

.dock-item:nth-child(3):hover {
  background-color: #ee7271;

}

.dock-item:nth-child(4):hover {
  background-color: #4da7ed;
} */

.dock a {
  padding: 7px 8px 8px 7px;
  pointer-events: auto;
  text-decoration: none;
  color: transparent;
  border: solid 1px;
  border-radius: 5px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  opacity: 1;
}


.dock-item:hover {
  font-size: 32px; /* Enlarged size on hover */
  background-color: rgba(255, 255, 255, 0.852);
}


body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  /* color: white; */
}



.parallax-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.dot {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;

}
.title {
  position: fixed;
  top: 40%; 
  left: 50%; 
  font-size: 3em;
  z-index: 10; 
  display: flex; /* Ensures its children are laid out side by side */
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  transform: translate(-50%, -50%); /* Centering trick */
}

.title .current {
  margin-right: 0.2em; /* Some spacing between the words */
  font-weight: bold;
  /* Adjust based on the width of the longest word + some padding */
  text-align: right; 
  display: inline-block; 
}

.title.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.title {
  display: inline-block;
}

.parallax-section {
  font-size: 50px;
  text-align: center;
  transition: opacity 0.3s, transform 0.3s;
  position: relative;
  margin-top: 50%; /* You can adjust this as needed */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.browser-window {
  position: absolute;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 420px;
  overflow: hidden;
  /* background-color: #252f35; */
  z-index: 100;
  /* height: 600px; */
  /* opacity: 0; */
  /* transform: translateY(-50px); this will start it slightly off-screen */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.browser-window.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.browser-header {
  display: flex;
  background-color: #e9e9e9;
  padding: 8px;
  align-items: center;
  cursor: url("/public/openhand.cur"), auto;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none; 
}


.browser-header.dragging {
  cursor: url("/public/closedhand.cur"), auto;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
  user-select: none;
  -webkit-user-drag: none; 
}


.browser-dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.browser-content {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  overflow-y: auto;
  /* max-height: 80%;  */
  /* color: black; */
}
.browser-dot:nth-child(1) {
  background-color: #FC625D;  /* Red */
}

.browser-dot:nth-child(2) {
  background-color: #FDBC40;  /* Yellow/Orange */
}

.browser-dot:nth-child(3) {
  background-color: #35CD4B;  /* Green */
} 

@keyframes floatEffect {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-10px, -10px); }
  100% { transform: translate(0, 0); }
}

.floatingCircle {
  animation-name: floatEffect;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.browser-resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  cursor: nwse-resize; /* Diagonal resize cursor */
  background-color: #cccccc;
  border-radius: 3px;
  z-index: 10;
}
.drag-me-indicator {
  position: absolute;
  align-items: center;  /* Vertically center align items */ 
  z-index: 99999;
  font-size: 14px;
  cursor: url("/public/openhand.cur");
  animation: bounce 1.5s infintie;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  user-select: none;
  -webkit-user-drag: none; 
}

.hand-animation {
  position: absolute;
  width: 40px;  
  height: 40px;
  top: 5px;       /* Adjust as necessary to position near top-left corner */
  left: 150px;     /* Adjust to position it to the left of the browser */
  background-image: url("/public/openhand.cur");
  background-repeat: no-repeat;
  background-size: contain;
  animation:  fadeIn 3s forwards, grabRelease 1.5s infinite;
  opacity: 0;
  animation-delay: 8;
}

@keyframes grabRelease {
  0%, 100% {
    background-image: url("/public/openhand.cur");
  }
  
  25% {
    background-image: url("/public/closedhand.cur");
    transform: translateY(0);

  }
  
  50% {
    background-image: url("/public/closedhand.cur");
    transform: translateY(-20px);  /* Adjust this value to control the distance the hand moves up */
  }

  75% {
    background-image: url("/public/openhand.cur");
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Simple bounce animation */
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  
  40% {
    transform: translateY(-10px);
  }
  
  80% {
    transform: translateY(-5px);
  }
}

#text-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

/* gallery */

.image-gallery {
  column-count: 3;
  column-gap: 4px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.gallery-item {
  /* margin-bottom: 1px; */
  break-inside: avoid; /* This prevents images from spanning across multiple columns */
}
.gallery-item :hover{
  /* cursor: pointer; */
}
.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 4px; /* Optional for styled corners */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000; /* Ensure it's on top of other elements */
}

.modal-content {
  /* box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.588);  */
  border-radius: 4px;
  border: 6px solid rgb(255, 255, 255);
  /* border-width: 10px; */
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  pointer-events: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  /* cursor: pointer; */
  transition: 0.6s ease;
}


.prev, .next {
  /* cursor: pointer; */
  position: absolute;
  /* top: 50%; */
  width: auto;
  margin-left: 10px;
  /* margin-top: -50px; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  padding: 10px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* The following styles prevent the modal image from being too large on small screens */
@media only screen and (max-width: 900) {
  .modal-content {
    max-width: 90%;
    max-height: 90%;
  }
  .next {
    right: 5%;
  }
  .prev {
    left: 2.5%;
  }
  .prev:hover, .next:hover {
    color: currentColor
  }
  .text {
    font-size: 20vw;
  }
  .menu {
    position: absolute;
    display: contents;
    width: 100%;
    right: 0;
    z-index: 9999999;
  }
  .menu--1 {
    transform: scale(0.1);
  }
}

@media only screen and (min-width: 1200px) {
  .text{
    font-size: 11vw;
  }

}
@media only screen and (max-width: 1200px) {
  .image-gallery {
    column-count: 2;
  }
  .text {
    font-size: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .image-gallery {
    column-count: 1;
  }
}

@media only screen and (max-width: 576px) {
  .image-gallery {
    column-count: 1;
  }
}

/* TEXT */
.text-animation-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title-container {
  position: relative;
}

.text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  opacity: 0; /* Keep hidden initially */
  color: rgba(0, 0, 0, 0.683);
}

.text.show {
  /* Make text visible */
  opacity: 1;
  animation: slideIn 0.5s forwards; /* Make sure it animates in properly */
}

.text:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initial width set to 0 for the sliding effect */
  height: 2px; /* Adjust the underline thickness as needed */
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  animation: underline 0.8s forwards;
}

.text span {
  /* cursor: pointer; */

}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes underline {
  to {
    width: 100%;
  }
}

/* .loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loading-spinner > div {
  border-color: #d9d9d9;
} */
/* CustomLoader.css */
.custom-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust the width of your loader */
  height: 100px; /* Adjust the height of your loader */
}

.loader-shape {
  width: 15px; /* Adjust the width of each shape in your loader */
  height: 15px; /* Adjust the height of each shape in your loader */
  margin: 0 5px; /* Adjust the spacing between shapes */
  border-radius: 50%; /* Adjust the border radius for a circular shape */
  animation: loaderAnimation 1.5s infinite; /* Adjust the animation duration */
  opacity: 0;
}

@keyframes loaderAnimation {
  0%, 100% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  66% {
    opacity: 1;
    transform: scale(0.8) rotate(90deg);
  }
  100% {
    opacity: 0;
  }
}

.loader-shape:nth-child(1) {
  animation-delay: 0.2s; /* Adjust the delay for the first shape */
  background-color: #3498db; /* Adjust the color for the first shape */
}

.loader-shape:nth-child(2) {
  animation-delay: 0.5s; /* Adjust the delay for the second shape */
  background-color: #e74c3c; /* Adjust the color for the second shape */
}

.loader-shape:nth-child(3) {
  animation-delay: 0.8s; /* Adjust the delay for the third shape */
  background-color: #2ecc71; /* Adjust the color for the second shape */
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px dotted #ffffff;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  z-index: 10000;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
a:-webkit-any-link {
  cursor: none;
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
      /* background-color: #181818; */
      background-color: black;
      color: #e4e4e4;
  }

  h2, p {
    color: white;
  }
  .product-name {
    color: white;
  }
  .navbar {
      background: #211f2100;
  }
  .navbar svg {
    color: white;
  }
  .text {
    color: rgba(242, 242, 242, 0.683);
  }
  .dock-item:hover {
    background-color: rgba(0, 0, 0, 0.852);
  }
  .dropdown ul {
    background-color: rgba(255, 255, 255, 0.1);

  }

  .product-price {
    color: white;
    padding-bottom: 1rem;
  }
  .dropdown:hover {
      background-color: rgba(255, 255, 255, 0.1);
  }

  .product {
      background-color: grey;
  }
}

/* 404 */

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; 
  left: 0; 
}

.not-found {
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.not-found-heading {
  color: #d9534f;
}

.not-found-message {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.hamburger-menu {
  /* Define size and behavior of the clickable area */
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-line {
  /* Lines representing the hamburger icon */
  width: 100%;
  height: 3px;
  background-color: #333; /* Adjust color as needed */
  transition: all 0.3s ease-in-out;
}

.arrow.open {
  /* transform: translateY(-70px) */
  animation: pull-arrow 1s forwards;
}

.arrow.close {
  /* transform: translateY(-70px) */
  animation: pull-arrow-close -arrow 1s forwards;
}
/* Transform the lines for "X" when open */
.menu-line.line1.open {
  transform: translateY(8px) rotate(45deg);
}

.menu-line.line2.open {
  transform: scale(0);
  opacity: 0; /* hide the middle line */
}

.menu-line.line3.open {
  transform: translateY(-8px) rotate(-45deg);
}

@keyframes pull-arrow {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-100px);
  }
  100% {
      transform: translateY(-55px);
  }
}

@keyframes pull-arrow-close {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(100px);
  }
  100% {
      transform: translateY(55px);
  }
}



.menu--1 .line--1,
  .menu--1 .line--3 {
    --total-length: 126.64183044433594;
  }

.menu--1 .line--2 {
    --total-length: 70;
  }

.menu--1 input:checked+svg .line--1,
    .menu--1 input:checked+svg .line--3 {
      --offset: -94.1149185097;
    }

.menu--1 input:checked+svg .line--2 {
      --offset: -50;
    }
.cross input:checked+svg .line--1,
  .cross input:checked+svg .line--3 {
    --length: 22.627416998;
  }

.cross input:checked+svg .line--2 {
    --length: 0;
  }

.back input:checked+svg .line--1,
  .back input:checked+svg .line--3 {
    --length: 8.602325267;
  }
.menu--1 {
  /* position: fixed; */
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.menu--1 label {
  /* display: flex; */
  align-items: center;
}

.menu path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.menu svg {
  /* transform: scale(0.15); Adjust the scale value as needed for the desired size */
  height: 5rem;
}

.menu--1 label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 999999999999999999;
}


.menu--1 {
  transform: scale(0.3);
  height: 10rem;
  position: absolute;
  display: contents;
  width: 100%;
  right: 0;
  z-index: 9999999;
}